obj/
Temp/
Library/
old_git.zip
UpgradeLog.XML
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
Assets/AssetStoreTools.meta
Assets/AssetStoreTools/Editor.meta
Assets/AssetStoreTools/Editor/AssetStoreTools.dll
Assets/AssetStoreTools/Editor/AssetStoreTools.dll.meta
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll.meta
Assets/AssetStoreTools/Editor/DroidSansMono.ttf
Assets/AssetStoreTools/Editor/DroidSansMono.ttf.meta
Assets/AssetStoreTools/Editor/icon.png
Assets/AssetStoreTools/Editor/icon.png.meta
