Library/
*.unity
Assets/Scenes/
Assets/PhysicMaterials/
Assets/Meshes/
Assets/Materials/
*.mat
!Assets/Materials/baseMaterial.mat
!Assets/Materials/baseTransparentMaterial.mat
Assets/Prefabs/
*.prefab
Assets/Textures/
!Assets/Textures/games.ucla.logo.png
